# Ignore node_modules folder
codecept_nord_home_task_solution_1/node_modules
jasmine_nord_home_task_solution_2/node_modules
# Ignore ouput folders content
codecept_nord_home_task_solution_1/web/output/
codecept_nord_home_task_solution_1/api/output/
# Ignore package-lock file
codecept_nord_home_task_solution_1/package-lock.json